*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
h4{
    color: #555555;
    word-spacing: 3px;
    font-weight: 500;
}
.modalSection{
    border-bottom: 1px solid #9f9f9f;
}
.formSection{
    padding: 2vw 0vw;
    border-bottom: 1px solid #9f9f9f;
    
    h5,a{
        display: inline-block;
    }
    a{
        font-size: 16px;
        border-radius: 5px;
        text-decoration: none;
        background-color: #0c9a04;
        border: 1px solid white;
        color: white;
        padding: 0.2vw 1vw;
        
        &:hover{
            background-color: white;
            border: 1px solid #0c9a04;
            color: #0c9a04;
        }
    }
    form{
        margin-top: 2vw;
        input{
            margin: 0.2vw 0.2vw;
        }
        .error{
            font-size: 10px;
            color: red;
            margin-bottom: 0.7vw;
            text-align: left !important;
        }
        input[type="submit"]{
            margin-top: 0.5vw;
        }
        #msg{
            font-size: 15px;
            color: red;
        }
    }
}

.tableSection{
    h4{
        padding-top: 2vw;
    }
    span{
        white-space:nowrap;
        label{
            margin-right: 0.4vw;
            font-size: 17px;
        }
        input{
            display: inline-block !important;
        }
        button{
            margin-left: 2vw;
        }
    }
    
}
table, tr, td, th{
    border: 1px solid #edede9;
    padding: 0.3vw 0.6vw;
}

    #pagination-wrapper{
        button{
            margin-right: 0.2vw !important;
        }
    }
